.container
  .comment
    %h2 New Comment
    = form_with(model:@comment ,url: fashion_comments_path ,method: 'post' ,local: true) do |f|
      %div
        = f.label :comment, 'Comment',class:"comment_label"
      .field
        = f.rich_text_area :comment, class: "comment_text_area"
      %div
        = f.submit '保存', class: "btn"
