<div class="container">
  <div class="comment">
    <h2>New Comment</h2>
  <%= form_with(model:@comment ,url: fashion_comments_path ,method: 'post' ,local: true) do |f| %>
  
  <%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
    <%# Description %>
    <div>
      <%= f.label :comment, 'Comment',class:"comment_label" %>
    </div>

    <div class="field">
      <%= f.rich_text_area :comment, class: "comment_text_area" %>
    </div>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
  <%# Submit %>
    <div>
      <%= f.submit '保存', class: "btn" %>
    </div>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
  </div>

  <% end %>
</div>