<div class="top">
  <div class="background">
    <div class="top_text">
      <h3>　自分のファッションを<br>　　　　　　投稿しよう</h3>
    </div>

    <div class="top_text2">
      <h3>みんなのファッションを　　　<br>　　　　　　　見てみよう</h3>
    </div>
  </div>

  <div class="top_image">
    <%= image_tag  "img3.0.png", :size => '340x575' ,class:'posttoday' %>
  </div>

  <div class="second_image">
    <div class="second_image_content">
      <%= image_tag  "t-shirt.jpg", :size => '168x217' %>
    </div>

    <div class="second_image_content">
      <%= image_tag  "vans.jpg", :size => '168x217' ,class:'posttoday' %>
    </div>
  </div>

  <div class="sign_up">
    <h3>新規登録はこちらから</h3>
  </div>

  <div class="sign_up">
    <h3>ログインはこちらから</h3>
  </div>
</div>

