@import 'header';
@import 'input_screen';
@import 'dropdown';
@import 'card';
@import 'flash';
@import 'detail';

.container{
  width: 100%;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  font-style: normal;
  font-weight: normal;
}

.link_path {
  text-decoration: none;
  color: black;
}