.comment {
  &_label {
    font-weight: bold;
  }

  &_text_area {
    width: 350px;
    height: 120px;
    left: 26px;
    top: 190px;
    background: #F4F4F4;
    border-radius: 10px;
    border: none;

  }
}




