.line {
  height: 1px;
  background: black;
  opacity: 0.5;
}

.field {
  padding-bottom: 20px;
}

.avatar {
  float: right;
  
  & img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
  }
}