.profile_avatar {
  padding: 25px 20px;
  float: left;
}

.profile_content {
  position: relative;
}

.profile_name {
  font-size: 25px;
  font-weight: bold;
  padding: 25px 0 10px 0;
}

.profile_introduction {
  font-size: 18px;
  padding-bottom: 10px;
}

.profile_avatar img{
  border-radius: 100px;
  border: none;
  height: 70px;
  width: 70px;
}

.profile_update {
  padding: 30px 0 20px 0;
}

.profile_line {
  height: 1px;
  background: black;
  opacity: 0.5;
  margin-top: 20px;
}

.currentuser_article {
  padding-left: 10px;
}